// ECE 2260 dependencies
@import 'card';

// ECE 2260 styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Overrides
body {
  font-size: 16px;
}

code {
  font-size: 16px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: bold;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    +dt {
      margin-top: 1em;
    }
  }
}

.site-nav .nav-list .nav-list-item a {
  font-size: 18px;
}

// Override sidebar width
@media (min-width: 50rem) {
  .side-bar {
    width: 19rem;
  }

  .side-bar+.main {
    margin-left: 19rem;
  }
}

@media (min-width: 66.5rem) {
  .side-bar {
    width: calc((100% - 66.5rem) / 2 + 20rem);
    min-width: 20rem;
  }

  .side-bar+.main {
    margin-left: Max(20rem, calc((100% - 66.5rem) / 2 + 20rem));
  }
}