{% if page.url == "/schedule/" %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
{% endif %}

<!-- {% assign math = page.math | default: layout.math | default: site.math %}

{% case math %}
{% when "mathjax" %}
{% include mathjax.html %}
{% endcase %} -->

{% case page.math %}

{% when "mathjax3" %}

<script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
            tags: 'ams',
            packages: { '[+]': ['textmacros'] },
        },
        loader: {
            load: ['[tex]/textmacros']
        }
    };
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

{% endcase %}